# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Poetry
poetry.lock

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib
*.pyd

# C extensions
*.c
*.cpp
*.o
*.obj

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs
*.log
*.out
*.err

# SQLite database
*.db
*.sqlite3

# Local configuration
.qibo_client.json
.qibo_server.json

# VS Code / JetBrains
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints
*.ipynb

# Coverage / test
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/
.coverage.*
.cache/

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~

# Local data
data/
*.zip